.strength-container {
    width: 15%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 2px solid #ddd;
}

#strengthBar {
    height: 100%;
    width: 0%;
    background-color: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
    border-radius: 13px;
}
